@use "./colors" as *;

@import "./vendor/bootstrap";
@import "./toast";

body {
    @extend .position-relative;

    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

code {
    background: $esm-warm-gray-800;
    color: lighten($esm-warm-gray-100, 10%);
    border: 1px solid rgba($esm-warm-gray-100, 0.3);
    padding: 2px 6px;
    border-radius: 2px;
}

$nav-offset: calc(map-get($spacers, 5) + map-get($spacers, 4));

#main-container {
    @extend .position-absolute;
    @extend .container-fluid;
    @extend .overflow-x-hidden;
    @extend .px-0;

    top: $nav-offset;
    max-height: calc(100vh - $nav-offset);
    height: calc(100vh - $nav-offset);

    .window {
        @extend .mt-4;
    }
}

.command {
    @extend .d-inline-block;
    @extend .font-monospace;

    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 2px;
    color: $esm-warm-gray-300;
}

.arg {
    @extend .d-inline-block;
    @extend .font-monospace;

    font-weight: 600;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 2px;
    font-size: 0.95em;
}

.arg.identifier {
    background: rgba($esm-ui-info, 0.15);
    color: lighten($esm-ui-info, 25%);
    border: 1px solid rgba($esm-ui-info, 0.3);
}

.arg.target {
    background: rgba($esm-ui-warning, 0.15);
    color: lighten($esm-ui-warning, 20%);
    border: 1px solid rgba($esm-ui-warning, 0.3);
}

.arg.content {
    background: rgba($esm-ui-success, 0.15);
    color: lighten($esm-ui-success, 25%);
    border: 1px solid rgba($esm-ui-success, 0.3);
}

.arg.option {
    background: rgba($esm-ui-danger, 0.15);
    color: lighten($esm-ui-danger, 25%);
    border: 1px solid rgba($esm-ui-danger, 0.3);
}

.table-of-contents {
    @extend .sticky-top;
    @extend .overflow-y-auto;
    @extend .mb-3;

    top: 1em;
    height: calc(98vh - $nav-offset);
}

/* Hide the icon by default */
.anchor-link .bi-link-45deg {
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show it on hover */
.anchor-link:hover .bi-link-45deg {
  opacity: 1;
}
