@import "./vendor/bootstrap";
@import "./toast";

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#main-container {
    @extend .container-fluid;
    @extend .mt-4;
    @extend .ps-0;
    @extend .pe-0;
    @extend .overflow-y-auto;

    overflow-x: hidden;
    padding-top: calc(map-get($spacers, 5) + map-get($spacers, 3));
    max-height: 98vh;
    height: 98vh;
}
