@use "./colors" as *;

#toast-container {
    top: $nav-offset !important;
    right: 1em;
}

$toast-bg: $esm-warm-gray-800;

.toast {
    --bs-toast-border-color: transparent;
    --bs-toast-header-border-color: transparent;
    --bs-toast-header-bg: #{$toast-bg};
    --bs-toast-bg: #{$toast-bg};

    background-color: var(--bs-toast-bg);
    border: 0;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #{$secondary};
}

.toast-red {
    --bs-toast-header-color: #{$esm-toast-red};
    border-left-color: #{$esm-toast-red};
}

.toast-blue {
    --bs-toast-header-color: #{$esm-toast-blue};
    border-left-color: #{$esm-toast-blue};
}

.toast-green {
    --bs-toast-header-color: #{$esm-toast-green};
    border-left-color: #{$esm-toast-green};
}

.toast-yellow {
    --bs-toast-header-color: #{$esm-toast-yellow};
    border-left-color: #{$esm-toast-yellow};
}
